body {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
}


.bloco {
    margin-left: 500px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    margin-top: 180px;
    width: 200px;
    height: 200px;
    background-color: rgb(160, 160, 160);
}


